<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TravelPackageDao">
    <resultMap id="BaseResultMapIndex" type="com.bean.Index" >
        <result column="tpId" property="id"></result>
        <result column="tpName" property="name"></result>
        <result column="tpSummary" property="summary"></result>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.bean.TravelPackage" >
        <result column="tpId" property="id"></result>
        <result column="tpName" property="name"></result>
        <result column="tpPrice" property="price"></result>
        <result column="tpAmount" property="amount"></result>
        <result column="tpSummary" property="summary"></result>
        <result column="tpBeginDate" property="beginDate"></result>
        <result column="tpReturnDate" property="returnDate"></result>
        <result column="tpArrangement" property="arrangement"></result>
        <result column="tpCompany" property="company"></result>
        <result column="tpImgLocation" property="imgLocation"></result>
    </resultMap>
    <insert id="insert" parameterType="com.bean.TravelPackage">
        INSERT INTO
        travelpackage (tpName,tpPrice,tpSummary,tpBeginDate,tpReturnDate,tpArrangement,tpCompany,tpImgLocation)
        VAlUES
        (#{name},#{price},#{summary},#{beginDate},#{returnDate},#{arrangement},#{company},#{imgLocation});
    </insert>
    <select id="queryByCom" parameterType="String" resultMap="BaseResultMap" resultType="com.bean.TravelPackage">
        SELECT * FROM travelpackage WHERE tpCompany=#{comName}
    </select>
    <select id="queryById" parameterType="String" resultMap="BaseResultMap" resultType="com.bean.TravelPackage">
        SELECT * FROM travelpackage WHERE tpId=#{id}
    </select>
    <select id="queryIndex" parameterType="String" resultMap="BaseResultMapIndex" resultType="com.bean.Index">
        SELECT * FROM travelpackage
    </select>
    <delete id="deleteById" parameterType="String">
        DELETE FROM travelpackage where tpId = #{id}
    </delete>
    <update id="updateById" parameterType="com.bean.TravelPackage">
        UPDATE travelpackage
        SET
        tpAmount = #{amount}, tpPrice = #{price}, tpBeginDate = #{beginDate},tpReturnDate=#{returnDate},tpArrangement=#{arrangement},tpSummary=#{summary}
        WHERE
        (tpId = #{id});
    </update>
    <select id="queryAmountById" parameterType="Integer" resultType="Integer">
        SELECT tpAmount FROM travelpackage WHERE tpId = #{id}
    </select>
    <update id="updateAmountById" parameterType="Integer">
        UPDATE travelpackage
        SET
        tpAmount = #{amount}
        WHERE
        (tpId = #{id});
    </update>
</mapper>