<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品信息</title>
    <link rel="stylesheet" href="/css/">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--面向管理员的产品细节展示-->
<div id="tp" class="container">
    <div class="row clearfix">
        <div id="img" class="col-md-6 column">
            <img alt="140x140" class="img-rounded" src="../../static/images/tp/test.jpg" height="300px" width="300px" />
        </div>
        <div id="detail" class="col-md-6 column">
            <ul>
                <li>
                    Lorem ipsum dolor sit amet
                </li>

            </ul>
        </div>
    </div>

    <div id="summary" class="row clearfix">
        <div class="col-md-12 column">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                </div>
            </form>
        </div>
    </div>

    <div id="arrangements" class="row clearfix">
        <div class="col-md-12 column">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>